google-chrome() {
	if [[ $1 == "--unsafe" ]]; then
		if pgrep procname Google\ Chrome > /dev/null; then
			echo Chrome is already running
		else
 			open -a Google\ Chrome --new --args --disable-web-security -–allow-file-access-from-files
 		fi
	else
		open -a Google\ Chrome --new
	fi
}

mozilla-firefox() {
	open -a Firefox --new
}

jhome() {
	export JAVA_HOME=`/usr/libexec/java_home $@`
	echo "Setting up JAVA environment."
	echo "JAVA_HOME \"${JAVA_HOME}\""
	java -version
}
